<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Oh my GIF!</title>
</head>
<body class="container text-light">
    <h1 class="mt-5 mb-5">Oh my GIF!
        <small class="text-muted">Trending GIFs from <a href="https://giphy.com/" target="_blank">GIPHY</a></small>
    </h1>

    <div id="app" v-cloak>
        <nav class="nav nav-pills justify-content-between mb-5">

            <div class="form-inline">
                <input v-model="queryInput" @input="makeRequest" class="form-control mr-3 mb-3" type="text" placeholder="search GIFs">
                <select v-model="pageSize" @input="setPageSize" class="form-control mr-3 mb-3">
                    <option selected>5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                </select>
                <div class="form-check-inline mb-3">
                    <input v-model="mode" @click="setGifMode" type="radio" id="mode_gifs" class="form-check-input" name="mode" value="gifs" checked>
                    <label class="form-check-label" for="mode_gifs">GIFs</label>
                </div>
                <div class="form-check-inline mb-3">
                    <input v-model="mode" @click="setStickerMode" type="radio" id="mode_stickers" class="form-check-input" name="mode" value="stickers">
                    <label class="form-check-label" for="mode_stickers">stickers</label>
                </div>
            </div>


            <div>
                <a @click="setGrid"
                    href="#"
                    class="nav-link"
                    v-bind:class="{active: showGrid}"
                ><i class="fas fa-th"></i></a>

                <a @click="setList"
                    href="#"
                    class="nav-link"
                    v-bind:class="{active: showList}"
                ><i class="fas fa-th-list"></i></a>
            </div>

        </nav>

        <p v-if="noResults" class="alert alert-warning">No GIFs found... 😭</p>

        <p v-if="error" class="alert alert-danger">I'm having trouble connecting. Is GIPHY mad at me?? 😰</p>

        <transition name="fade" mode="out-in" appear>
            <div v-if="showList" id="list" key="list">
                <ul v-if="gifs" class="p-0 list-unstyled">

                    <li v-for="gif in gifs" class="mb-5" :style="{ minHeight: gif.images.fixed_width.height + 'px' }">

                        <div class="window mr-2" v-bind:style="{ backgroundImage: 'url(' + gif.images.fixed_width.url + ')', height: gif.images.fixed_width.height + 'px'}">
                            <a v-bind:href="gif.url" target="_blank"></a>
                        </div>

                        <table class="details">
                            <tr v-if="gif.title">
                                <th>Title:</th>
                                <td><a :href="gif.url" target="_blank">{{ gif.title }}</a></td>
                            </tr>
                            <tr v-if="gif.source">
                                <th>Source:</th><td>{{ gif.source }}</td>
                            </tr>
                            <tr v-if="gif.trending_datetime">
                                <th>Trending:</th>
                                <td>{{ gif.trending_datetime }}</td>
                            </tr>
                            <tr v-if="gif.user">
                                <th>User:</th>
                                <td><a :href="gif.user.profile_url" target="_blank">{{ gif.user.display_name }}</a></td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>

            <div v-if="showGrid" id="grid" key="grid">
                <div class="d-flex flex-wrap justify-content-around">
                    <div class="window mb-3 mr-3" v-for="gif in gifs" v-bind:style="{ backgroundImage: 'url(' + gif.images.fixed_width.url + ')'}"><a v-bind:href="gif.url" target="_blank"></a></div>
                </div>
            </div>
        </transition>

    </div>

    <a href="https://giphy.com/" target="_blank"><img class="giphy-attr" src="PoweredByGIPHY.gif" width="200" height="42"></a>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="main.js"></script>
  </body>
</html>
