<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Oh my GIF!</title>
</head>
<body class="container bg-dark text-light">
    <h1 class="mt-5">Oh my GIF!</h1>

    <div id="app" v-cloak>
        <nav class="nav nav-pills justify-content-end mb-3">
                <a v-on:click="setGrid"
                    href="#"
                    class="nav-link"
                    v-bind:class="{active: showGrid}"
                ><i class="fas fa-th"></i></a>

                <a v-on:click="setList"
                    href="#"
                    class="nav-link"
                    v-bind:class="{active: showList}"
                ><i class="fas fa-th-list"></i></a>

        </nav>

        <transition name="fade" mode="out-in" appear>
            <div v-if="showList" id="list" key="list">
                <ul v-if="gifs" class="p-0 list-unstyled">
                    <li v-for="gif in gifs" class="mb-5" :style="{ height: gif.images.fixed_width.height + 'px' }">
                        <div class="window mr-2" v-bind:style="{ backgroundImage: 'url(' + gif.images.fixed_width.url + ')', height: gif.images.fixed_width.height + 'px'}">
                            <a v-bind:href="gif.url" target="_blank"></a>
                        </div>
                        <table class="details">
                            <tr><th>Title:</th><td><a :href="gif.url" target="_blank">{{ gif.title }}</a></td></tr>
                            <tr v-if="gif.source"><th>Source:</th><td>{{ gif.source }}</td></tr>
                            <tr><th>Trending:</th><td>{{ gif.trending_datetime }}</td></tr>
                            <tr><th>User:</th><td><a :href="gif.user.profile_url" target="_blank">{{ gif.user.display_name }}</a></td></tr>
                        </table>
                    </li>
                </ul>
            </div>

            <div v-if="showGrid" id="grid" key="grid">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="window mb-3" v-for="gif in gifs" v-bind:style="{ backgroundImage: 'url(' + gif.images.fixed_width.url + ')'}"><a v-bind:href="gif.url" target="_blank"></a></div>
                </div>
            </div>
        </transition>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="main.js"></script>
  </body>
</html>
